.header {
    padding: 100px 0px;

    .header__title {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: #22343D;
    }
    .header__img{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content:center;
        gap: 20px;
    }
}
@media(max-width:770px){
    .header{
        .header__img{
            grid-template-columns: auto auto;
            gap: 10px;
            img{
                width: 120px;
            }
        }
    }
}
